name: Deploy MkDocs site

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      # INSTALL ALL REQUIRED PACKAGES (Combined for efficiency, removed 'mkdocs-tagging' as it failed to install)
      - name: Install MkDocs and Plugins
        run: |
          pip install \
            mkdocs-material \
            mkdocs-section-index \
            mkdocs-material-extensions \
            mkdocs-git-revision-date-localized-plugin \
            Pillow qrcode cairosvg \
            mkdocs-gen-files \
            mkdocs-literate-nav \
            markdown-include \
            mkdocs-glightbox \
            mkdocs-awesome-pages-plugin \
            mkdocs-social-cards-plugin

      - name: Build MkDocs Site
        run: mkdocs build --verbose # Added --verbose to check for errors in the logs

      - uses: actions/upload-pages-artifact@v3
        with:
          path: site

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
    steps:
      - uses: actions/deploy-pages@v4
