name: Deploy MkDocs site

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      # INSTALL ALL REQUIRED PACKAGES
      - name: Install MkDocs and Plugins
        run: |
          pip install mkdocs-material
          pip install mkdocs-section-index
          pip install mkdocs-material-extensions
          pip install mkdocs-git-revision-date-localized-plugin
          pip install Pillow qrcode cairosvg
          pip install mkdocs-gen-files
          pip install mkdocs-literate-nav
          pip install markdown-include
          pip install mkdocs-tagging # Corrected package name for 'tags' functionality
          pip install mkdocs-glightbox
          pip install mkdocs-awesome-pages-plugin
          pip install mkdocs-social-cards-plugin

      - name: Build MkDocs Site
        run: mkdocs build --verbose # Added --verbose to check for errors in the logs

      - uses: actions/upload-pages-artifact@v3
        with:
          path: site

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
    steps:
      - uses: actions/deploy-pages@v4
